body{
  text-align: center;
}

table{
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  min-width: 630px;
}

th, td {
  border: none;
  padding: 5px;
}


tbody tr:nth-child(odd){
  background-color: rgba(175, 175, 175, 0.6);
}

tbody tr:hover{
  background-color: rgba(225, 225, 225, 1.0);
  cursor: pointer;
}

.selected{
  background-color: rgba(100, 200, 100, 0.6) !important;
}

button{
  background-color: rgba(175,175,175,0.6);
  margin: 10px;
}

button:hover{
  background-color: rgba(225,225,225,1.0);
}

form{
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  margin: 10px auto;
  width: min-content;
}

form *{
  margin: 10px;
}

.formButton{
}

.mainContent{
  display: flex;
}

.column{
  display: block;
  margin: 10px auto;
}
